#nav {
    /* flex box layout */
    display: flex;
    justify-content: space-between ;
    align-items: center;
  
    /* margin: 0 0 30px; */
    background-color: lightblue;
    overflow: hidden;
  }
  #nav-title {
    font-size: 24px;
    font-weight: 700;
    font-family:Stencil Std, fantasy ;
    color: #f2f2f2;
    padding-left: 10px;
    margin: 0;
  }
  #link{
    display: inline-block;
  color: #f2f2f2;
  background-color: lightblue;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  font-family:Stencil Std, fantasy ;
 
  }
 