#nav {
    /* flex box layout */
    display: flex;
    justify-content: space-between ;
    align-items: center;
    position: fixed;
    top:0;
    width:100%;
    /* height:100vh; */
    /* max-height: 7em; */
    /* margin: 0px 0px 30px; */
    background-image: linear-gradient(to bottom, blue, 1%, lightblue);
    overflow: hidden;
    z-index: 2;
  }
  #nav-title {
    /* transform:scale(.50); */
    font-size: 32px;
    font-weight: 700;
    font-family:Stencil Std, fantasy ;
    color: #f2f2f2;
    padding-left: 10px;
    margin: 0;
    text-align: center;
  }
  #link{
    /* display: inline-block; */
  color: #f2f2f2;
  /* background-image: linear-gradient(to bottom, blue, 1%, lightblue); */
  text-align: center;
  padding: .5em .5em;
  text-decoration: none;
  font-size: 1.7em;
  font-family:Stencil Std, fantasy ;
  }
 