#pricingTable{
    /* border: 1px solid black; */
    /* padding: 8px; */
    border: 4px solid ;
    width: 100%;
    border-collapse: collapse;
}
#pricingHeader{
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
#pricingTd{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: lightgrey;
}
#whyList{
    
    /* line-height:5vh; */
    /* font-size:2em ; */
    /* font-family:Comic Sans MS, Comic Sans, cursive; */
    /* margin: 2vh; */
    text-align: center;
    word-spacing:-2px ;
    font-size:1.1em ;
    font-family:Comic Sans MS, Comic Sans, cursive;
    margin: 2vh;
    word-spacing:-2px ;
}
#whyTitle{
    text-align: center;
    font-family:Comic Sans MS, Comic Sans, cursive;
    text-shadow: 1px 1px grey;
}
#aboutMeHeader{
     border-bottom:dotted;
     margin-top: 13vh;
}
#weightEmote{
    text-align:center;
    font-size: 24px;
    font-family: monospace; 
    line-height: 0;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; Ensures the container takes up the full height of the viewport */
}
#bookConsultation {
    /* text-decoration: none; Remove underline */
    color: black; /* Change link color as needed */
    font-size: 50px; /* Adjust font size as needed */
}
#aboutMeDiv{
    height:100vh;
}



   
